.products_iterator {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 700px;
  border-radius: 15px;
  color: white;
  
  
}
.NoResults{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: 400px;
  width: 700px;
  
  position: fixed;
}

.noResultsInfo{
align-self: center;
color: #979da6;
font-size: 40px;
}

.noResultsIcon{
align-self: center;
}
.Private_Product2 {
  display: grid;
  grid-template-columns: 70% auto;
  width: 730px;
  border-radius: 10px;
  background-color: #2d2f31;
  overflow: hidden;
  margin-top: 20px;
  align-self: center;
}

.divProduct{
  align-self: center;
}

.info_Product2 {
  display: grid;
  grid-template-rows: 75% auto;
}

.text_Area2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title_product2 {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 0;
}

.textP2 {
  background-color: #2d2f31;
  resize: none;
  border: none;
  font-size: 15px;
  height: 75px;
  color: #979da6;
  margin-left: 15px;
  margin-right: 10px;
}

.Price_Area2 {
  display: flex;
  flex-direction: column;
 
}

.Price2 {
  margin-left: 15px;
  margin-top: 5px;
  justify-self: center;
}

.imgProduct_Area2 {
 display: flex;
 justify-content: center;
 align-items: center;
}


.publicImg{
height: 100%;
width: 100%;
}