.Public_Post {
  display: grid;
  grid-template-rows: 60% 40%;
  height: 550px;
  width: 650px;
  margin: 20px;
  background-color: #252932;
  border-radius: 15px;
  overflow: hidden;
}

.Public_PostNoimage{
display: grid;
  grid-template-rows: auto;
  height: 250px;
  width: 650px;
  margin: 20px;
  background-color: #252932;
  border-radius: 15px;
  overflow: hidden;
}



.infoP {
  background-color: #252932;
  resize: none;
  border: none;
  font-size: 15px;
  color: #979da6;
  height: 95%;
  margin: 5px;
  font-size: 20px;
  
}

.UserInfoP {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8bb4f8;
}

.info_Post_Area_Public{
height: 100%;
display: grid;
grid-template-rows: 70% 30%;
}


.Btns_AreaPublic{
display: flex;
justify-content: space-between;
gap: 20px;
}



.Publish_BTN{
  display: flex;
  justify-content: center;
  background-color: #252932;
  cursor: pointer;
  align-items: center;
  border: #8bb4f8 solid 1.3px;
  border-radius: 25px;
  padding: 5px 20px 5px 20px;
  color: #8bb4f8;
  
  gap: 5px;
  margin: 0;
}

.textPost_Inp{
  resize: none;
}

.userPostImgP{
  height: 100%;
  width: 100%;
}

.userProfile_area{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.commentsArea{
  display: flex;
  justify-content: center;
}

.commentsBtn{
  display: flex;
  justify-content: center;
  margin-right: 10px;

  
}


.userName{
  margin-left: 10px;
}
.profileCircle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: #979da6;
  border-radius: 100px;
   margin-left: 10px;
}

.profileImg{
height: 100%;
width: 100%;
border-radius: 100px;
}

.editPost{
display: flex;
justify-content: center;
align-items: center;
background-color: #252932;
border: none;
}