.Private_Post {
  display: grid;
  grid-template-rows: 50% 50%;
  height: 380px;
  width: 300px;
  margin: 20px;
  background-color: #252932;
  border-radius: 15px;
  overflow: hidden;
}

.info {
  background-color: #252932;
  resize: none;
  border: none;
  font-size: 15px;
  color: #979da6;
  height: 95%;
  margin: 5px;
}

.UserInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8bb4f8;
}

.info_Post_Area {
  height: 100%;
  display: grid;
  grid-template-rows: 80% 20%;
}

.Btns_AreaP {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 60px;
  margin-bottom: 5px;
}

.Publish_BTN {
  display: flex;
  justify-content: center;
  background-color: #252932;
  cursor: pointer;
  align-items: center;
  border: #8bb4f8 solid 1.3px;
  border-radius: 25px;
  padding: 5px 20px 5px 20px;
  color: #8bb4f8;

  gap: 5px;
  margin: 0;
}

.userPostImg {
  height: 100%;
  width: 100%;
}

.editPost {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252932;
  border: none;
  cursor: pointer;
}

.eliminarPost {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252932;
  border: none;
  cursor: pointer;
}

.eliminarPost:hover {
  .eliminatePostIcon {
    fill: white;
  }
}

.editPost:hover {
  .editPostIcon {
    fill: white;
  }
}

.editEliminar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/**/
.addPostContent {
  display: grid;
  grid-template-rows: 10% auto;
  height: 200px;
  width: 300px;
  background-color: #202124;
  border-radius: 10px;
  padding: 10px;
}

.addPostDlg {
  padding: 0;
  border: none;
  border-radius: 10px;
  background-color: #202124;
}

.form_User {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.textPost_Inp {
  height: 70px;
  resize: none;
  background-color: #282c35;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
}

.textPost_Inp:focus {
  outline: none;
  border: solid 1px #8bb4f8;
}

.textPost_Inp::placeholder {
  color: white;
}

.imgInp_Posts {
  background-color: #282c35;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
}

.imgInp_Posts::placeholder {
  color: white;
}

.imgInp_Posts:focus {
  outline: none;
  border: solid 1px #8bb4f8;
}

.submitArea {
  background-color: #8bb4f8;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.postCloseArea {
  display: flex;
  justify-content: end;
}

.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202124;
  border: none;
  cursor: pointer;
}

.closeBtn:hover {
  .Xicon {
    fill: white;
  }
}
