.Community_page_Container {
  display: grid;
  grid-template-rows: 8% auto ;
  height: 1000px;
 
}

.EmptyPosts{
  display: grid;
  justify-content: center;
}
.Community_Posts_Area {
  display: grid;
  place-items: center;
  align-items: center;
}
