.products_Container {
  display: grid;
  grid-template-columns: auto 80% auto;
  height: 1000px;
}

.Private_Product {
  display: grid;
  grid-template-columns: 65% auto;
  height: 220px;
  width: 730px;
  border-radius: 10px;
  background-color: #252932;
  margin-top: 20px;
  overflow: hidden;
}

.info_Product {
  display: grid;
  grid-template-rows: 60% auto;
}
.title_product {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 0;
}

.Price_Area {
  display: grid;
  grid-template-rows: 40% auto;
}
.price_Info {
  display: flex;
  align-items: center;
}
.Price {
  margin-left: 15px;
  margin-top: 5px;
}

.Btns_Area {
  display: flex;
  align-items: end;
  padding-bottom: 15px;
  padding-left: 15px;
}

.textP {
  background-color: #252932;
  resize: none;
  border: none;
  font-size: 15px;
  height: 75px;
  color: #979da6;
  margin-left: 15px;
  margin-right: 10px;
}

.text_Area {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.imgProduct_Area {
  background-color: #8bb4f8;
}
/**/

.Inventory_Page {
  display: grid;
  grid-template-rows: 25% auto;
  height: 100%;
}

.Inventory_Posts {
  display: grid;
  grid-template-rows: auto 10%;
  height: 100%;
}

.ProductsContainer {
  display: flex;
  justify-content: center;
  height: 100%;
}

.PostsContainer {
  display: flex;
  justify-content: center;
  height: 100%;
}
.products {
  padding: 5px;
  overflow-y: auto;
  background-color: #2d2f31;
  height: 400px;
  width: 95%;
  border-radius: 20px;
}

.Posts {
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
  overflow-x: auto;
  background-color: #2d2f31;
  height: 440px;
  width: 970px;
  border-radius: 20px;
}

.addProduct_Area {
  display: flex;
  align-items: end;
}

.product_Container {
  display: flex;
  justify-content: center;
}

.Open_Modal_P {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border: #8bb4f8 solid 1.3px;
  border-radius: 25px;
  padding: 5px 20px 5px 20px;
  color: #8bb4f8;
  margin-left: 30px;
  margin-bottom: 20px;
  gap: 5px;
}

.Open_Modal_Posts {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border: #8bb4f8 solid 1.3px;
  border-radius: 25px;
  padding: 5px 20px 5px 20px;
  color: #8bb4f8;
  margin-left: 25px;
  margin-bottom: 10px;
  gap: 5px;
}

.Open_Modal_P:hover {
  background-color: #8bb4f8;
  color: #252932;
  .iconAdd {
    fill: #2d2f31;
  }
}

.Open_Modal_Posts:hover {
  background-color: #8bb4f8;
  color: #252932;
  .iconAdd {
    fill: #2d2f31;
  }
}

/*Products Area*/
.productspage {
  display: grid;
  grid-template-rows: 11% auto;
  
}

.components_Part {
  display: grid;
  grid-template-rows: 20% 80%;
   
  
}

.filters_Area {
  display: flex;
  justify-content: center;
  align-items: center;
 
  height: 100%;
}
.btns_Area {
  width: 60%;
  height: 70px;
  background-color: #252932;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  position: fixed;
}
.products_Area {
  display: flex;
  justify-content: center;
}

.products_iterator {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d2f31;
  width: 60%;
  height: 700px;
  border-radius: 15px;
}
