.profile_page_Container {
  display: grid;
  grid-template-columns: auto 70% auto;
  height: 2000px;
 
}

.user_Area {
  display: grid;
  grid-template-rows: auto 70%;
}

.Img_Area {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
}

.edit_Area {
  
  border: solid black 1px;
}

.form_User {
  display: flex;
  justify-content: start;
  margin: 10px;
}

.post_Container {
  display: flex;
  align-items: center;
  margin: 5px;
  
 
}

.posts_info {
  margin-left: 10px;
}

.user_Posts_Container{
  display: grid;
  justify-content: center;
  max-height: 600px;
  overflow-y: auto;
}

.user_Posts{
  display: flex;
  justify-content: center;

}