.Container_Father_Profile{
  display: grid;
  grid-template-rows: auto 92%;
}

.profile_page_Container {
  display: grid;
  grid-template-columns: auto 85% ;
  height: 1000px;
  
 
}

.user_Navigation_area{
  overflow-y: auto;
  
}

.navigate{
background-color: #2d2f31;
height: 75px;
width: 100%;
margin-top: 10px;
border-bottom-right-radius: 30px;
border-top-right-radius: 30px;
}
.user_Area {
   display: grid;
   grid-template-rows: 25% auto;
  border: solid black 2px;
}

.img_area{
background-color: #8bb4f8;
}

.info_User_Area{
  
}

.user_Circle{
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100px;
  
 position: absolute;
 
  top: 230px;
  left: 300px;
}

.user_Imga{
  height: 100px;
  width: 100px;
  background-color: #2d2f31;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  border-radius: 100px;
  color: #8bb4f8;
}

