.CategoriModal {
  border: none;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}

.CategoriModalContent {
  display: grid;
  grid-template-rows: 10% 10% auto;
  
  height: 400px;
  width: 360px;
 
}
.infoSelected {
  display: grid;
  grid-template-columns: 50% 50%;
  border: 1px white solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #8bb4f8;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.selectedArea {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: white 1px solid;
  border-bottom-left-radius: 10px;
  overflow-y: scroll;
  scrollbar-width: thin;
  background-color: #2d2f31;
}

.UnselectedArea {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-bottom-right-radius: 10px;
  border: white 1px solid;
  overflow-y: scroll;
  scrollbar-width: thin;
  background-color: #2d2f31;
}

.ExitCategoriModal {
display: flex;
justify-content: end;

}
.closeCategorys{
display: flex;
justify-content: center;
align-items: center;
background-color: #2d2f31;
color: white;
border: none;
margin-bottom: 10px;
cursor: pointer;
border-radius: 5px;
}
.infoArea {
  display: grid;
  grid-template-columns: 50% 50%;
}

.infoSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2d2f31;
}

.tagsDivSelector2 {
  align-self: center;
  margin-top: 6px;
}
