.btns_Area {
  width: 60%;
  height: 70px;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 185px;
  border-radius: 15px;
  position: fixed;
}

.filter {
  height: 50px;
  width: 50px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBarDiv {
  height: 60px;
  background-color: #252932;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
  border-radius: 10px;

}
